  :root {
      --bgstart: #f3f6fb;
      --bgend: #fff;
      --accent: #2563eb;
      --space: 0.4rem;
      --border-radius: 1.6rem;

  }

  * {
      transition: all 0.2s;
      box-sizing: border-box;
  }

  html,
  body {
      height: 100%;
      margin: 0;
      font-family: Inter, system-ui, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
  }

  .app {
      display: flex;
      height: 100vh;
      overflow: hidden;
      touch-action: none
  }

  canvas {
      flex: 1;
      display: block;
      background: linear-gradient(180deg, var(--bgstart), var(--bgend));
      touch-action: none
  }

  #editor {
      position: absolute;
      display: none;
      box-sizing: border-box;
      min-width: 120px;
      min-height: 60px;
      padding: 8px;
      border-radius: 8px;
      font: 14px/1.2 Inter, system-ui, Arial;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.14);
      background: #fff9c4;
      border: 1px solid rgba(0, 0, 0, 0.04);
      outline: none;
      resize: none;
      overflow: auto;
      z-index: 1000;
      -webkit-user-modify: read-write-plaintext-only;
  }
  
  input[type="color"]{
      border-radius: 2.6rem;
      display: flex;
      aspect-ratio: 1;
      width: auto;
  }
  
  #editor-tray{
      display: flex;
      align-items: center;
      gap: var(--space);
      padding: var(--space);
      background: red;
      border-radius: var(--border-radius);

  }