
.topbar div:nth-child(1) {
  animation-delay: calc(var(--delay) * 1.5);

}

.topbar div:nth-child(2) {
  animation-delay: calc(var(--delay) * 1);
}

.topbar div:nth-child(3) {
  animation-delay: calc(var(--delay) * 1.5);
}



/* Animate each button with delay */

.sidebar div:nth-child(1) {
  animation-delay: calc(var(--delay) * 1.5);

}

.sidebar div:nth-child(2) {
  animation-delay: calc(var(--delay) * 1);
}


/* side-bottom button(3) end */

.toolbar div:nth-child(1) {
  animation-delay: calc(var(--delay) * 2.5);

}

.toolbar div:nth-child(2) {
  animation-delay: calc(var(--delay) * 2);
}

.toolbar div:nth-child(3) {
  animation-delay: calc(var(--delay)* 1.5);
}

.toolbar div:nth-child(4) {
  animation-delay: calc(var(--delay) * 1 );
}

.toolbar div:nth-child(5) {
  animation-delay: calc(var(--delay) * 1.5 );
}

.toolbar div:nth-child(6) {
  animation-delay: calc(var(--delay) * 2);
}

.toolbar button:nth-child(7) {
  animation-delay: calc(var(--delay) * 2.5);
}